$gray: #999;
$black: #000000;
$white: #fff;
$main-txt: #101820;
$red: #E63E3A;


$base-font-sans-serif: 'SuisseIntl-Regular', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'SuisseIntl-Regular-2', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $main-txt !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$animation-speed: 0.3s;
